.slides {
 /* display: flex; */
 position: relative;
 width: 500px;
 height: 300px;
}
.slide {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 200ms ease;
}
.slide[aria-hidden="true"] {
  opacity: 0;
  transition-delay: 200ms;
  z-index: -1;
}