@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.spinner {
  background: transparent;
  border-radius: 100%;
  animation: spin 1.25s infinite linear;
  transform-origin: 50% 50%;
}